.app {
    background-color: #13103d;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100px;
}

.contents-wrap {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 660px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-wrap {
    width: 320px;
    height: 430px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid white;
}
.list-wrap .--ok {
    background-color: red;
}
.list-wrap.in-progress::after {
    content: '# 할 일';
    position: absolute;
    left: 12px;
    top: -23px;
    font-size: 17px;
}
.list-wrap.done::after {
    content: '# 완료';
    position: absolute;
    left: 0;
    top: -23px;
    font-size: 17px;
}

.input-wrap {
    width: 400px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.datas-wrap {
    width: 250px;
    heigth: 200px;
    border: 1px solid white;
    padding: 10px 10px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.json-text-area {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    background-color: transparent;
    font-family: 'DungGeunMo';
    border: 3px solid white;
    color: white;
}
.json-text-area:focus {
    outline: none;
}

.json-button {
    border: 2px solid white;
    width: 40%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}